{% extends "base.html" %}

{%block content%}
<div class="main-wrap">
    <div class="main_content" style="margin-top: 30%;">
        <div class="header">
            Организация "Коммерческие склады"
            <br>
            <p style="color: white; font-size: 25px;">{{action}}</p>

            <form action="/" method="GET">
            <div class="buttons">
                <a href="/" class="stanlink">Назад</a>
            </div>
            </form>

            <div class="buttons">
                <a href="/" class="stanlink">На главную</a>
            </div>
        </div>
    </div>
    {%endblock%}