{% extends "base.html" %}

{% block content %}

<div class="main-wrap">
  <div class="main_content" style="margin-top: 10%;">
    <div class="header">
      Система учета товаров на складе
    <br>
      <div class="lineblock">
      </div>
      Добавить товар
    </div>
    <div class="lineblock">
    </div>
    <form action={{ url_for('add_product') }} method="POST">
        <input placeholder='Название товара' type='text' name='name' required>

    <button class="buttons" style="min-width: 88%; margin-left: auto; margin-right: auto; margin-bottom: 15px; font-size: 28px;
      text-decoration: none;
      color: white; font-family: 'Poiret One', cursive; cursor: pointer;">
      Добавить</button>
    </form>
  </div>
</div>

{% endblock %}